.git
.idea
.vscode
target
logs
*.log
.env
.env.*
src/main/resources/application.properties
src/main/resources/application-*.properties
src/main/resources/application*.yml
src/main/resources/application*.yaml
