
spring.application.name=backend


spring.rsocket.server.port=8080


mybatis.configuration.map-underscore-to-camel-case=true

spring.datasource.url=jdbc:mysql://localhost:3306/blog_platform
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver



ai.key=your_ai_key
ai.url=your_ai_url
ai.character.type1=classpath:AiCharacter/1.txt


gaode.ip.url=your_gaode_ip_url
gaode.ip.key=your_gaode_ip_key
gaode.geocode.url=your_gaode_geocode_url


aliyun.oss.access-key-id=your_aliyun_oss_access_key_id
aliyun.oss.access-key-secret=your_aliyun_oss_access_key_secret
aliyun.oss.role-arn=your_aliyun_oss_role_arn
aliyun.oss.bucket=your_aliyun_oss_bucket
aliyun.oss.endpoint=your_aliyun_oss_endpoint
aliyun.oss.region=your_aliyun_oss_region
aliyun.oss.expire-time=900
-- 使用时替换成自己的oss-policy策略
aliyun.oss.policy-file=oss-policy.json


spring.mail.host=smtp.qq.com
spring.mail.port=587
spring.mail.username=your_mail
spring.mail.password=your_mail_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true


spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.data.redis.database=0
